/* #region Common */
:root {
    --disc-primary: #3161e0;
    --disc-secondary: #8ea1e1;
    --disc-bg-dark: #f6f6f6;
    --disc-bg-light: #ffffff;
    --disc-bg-footer: #23272a;
    --disc-colored-text: #687dc4;
}

* {
    margin: 0;
    padding: 0;
    max-width: 1900px;
    box-sizing: border-box;
}

body{
    margin:auto;
    font-family: sans-serif;
}
/* #endregion Common */

/* #region Utiliy */

.container {
    width: 65vw;
    margin: auto;
}

.border {
    border: 2px dotted var(--disc-bg-footer);
}

.wave-1hkxOo{
    width: 100vw;
    background-color: var(--disc-bg-light);
    color: var(--disc-bg-dark);
}

.wave_lighter{
    width: 100vw;
    background-color: var(--disc-bg-dark);
    color: var(--disc-bg-light);
    transform: rotateY('180deg');
}
/* #endregion Utiliy */

/*  #region Nav */
nav {
    height: 84px;
    background-color: var(--disc-primary);
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    color: var(--disc-bg-light);
}

.nav_flex_container {
    display: flex;
    justify-content: center;
}

.nav_link_section {
    text-align: center;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.logo {
    text-align: left;
    width: 20%;
    align-self: center;
}

.link {
    color: var(--disc-bg-light);
    text-decoration: none;
    padding: 1rem;
}

.login {
    text-align: right;
    width: 20%;
    align-self: center;
}

.login_button {
    padding: 0.5rem 0.8rem;
    border-radius: 40px;
    border: none;
}

/* #endregion/Nav */

/* #region Main */
/* #region Hero */
.hero {
    height: 30rem;
    background-color: var(--disc-primary);
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero_text {
    margin: 2rem;
    font-size: 1.3rem;
}

.hero_title {
    font-size: 3.3rem;
}

.cta_hero_text {
    width: 50%;
    color: var(--disc-bg-light);
    text-align: center;
    margin: auto;
    padding: 2rem;
}

.btn_hero{
    padding: 1rem 2rem;
    margin: 0 1rem;
    border-radius: 40px;
    border: 1px solid var(--disc-primary);
    font-size: 1.2rem;
}

.open_in_browser{
    background-color: var(--disc-bg-footer);
    color: var(--disc-bg-light);
}

/* #endregion /Hero */
/* #region Main with img and description */
.main_section {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.light {
    background-color: var(--disc-bg-light);
}

.dark {
    background-color: var(--disc-bg-dark);
}

.main_flex {
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img_box {
    width: 66%;
    padding: 0 2rem 2rem 2rem;
}

.text_box {
    width: 34%;
    padding: 2rem;
}

.title_section{
    font-size: 2.5rem;
}

.text_paragraph{
    margin-top: 2rem;
    font-size: 1.3rem;
}

.items {
    width: 100%;
}
/* #endregion Main with img and description */
/* #region Last Main Saection */
.start_section {
    text-align: center;
}

.start_box {
    width: 56%;
    background-color: var(--disc-extra-color);
}

.img_video_box{
    width: 100%;
}
.text_last_paragraph{
    margin: 1.5rem 5.5 rem;
}

.h3_main{
    font-size: 2rem;
    padding: 3rem 10rem;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.btn_download_for-mac{
    color: var(--disc-bg-light);
    background-color: var(--disc-secondary);
    padding: 1rem 2rem;
    margin: 0 1rem 10rem;
    border-radius: 45px;
    border: 1px solid var(--disc-secondary);
    font-size: 1.2rem;
}

.entity_arrow_down{
    padding: 1rem;
    text-align: center;
}
/* #endregion /Last Main Saection */
/* #endregion Main */

/* #region Footer */
/* #region Footer Top */
.footer_container {
    background-color: var(--disc-bg-footer);
    border-bottom: 2px solid var(--disc-bg-light);
}

.footer_top {
    padding-top: 20px;
    height: 630px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.social_links {
    height: 580px;
    flex-grow: 1.5;
    background-color: var(--disc-footer-secondary-dark);
}

.footer_links {
    flex-grow: 1;
    height: 580px;
    background-color: var(--disc-footer-primary-dark);
    border: 2px dotted var(--disc-bg-light);
}

 select{
    background-color: var(--disc-bg-footer);
    color: var(--disc-bg-light);
    border: none;
    font-size: 1.2rem;
    padding: 0.5rem;
    vertical-align: middle;
 }

 option{
    color: var(--disc-bg-light);
    vertical-align: middle;
 }
label{
 padding: 2rem;
}
 #italian{
    vertical-align: middle;
 }

 .h3_footer{
    color: var(--disc-colored-text);
    font-size: 2rem;
    padding: 2rem;
 }

 .social_logos_section{
    padding:2rem;
 }

 .social_logo{
    margin-right: 0.3rem;
 }
/* #endregion /Footer Top */
/* #region Footer Bottom */
.footer_bottom {
    height: 110px;
    display: flex;
    align-items: flex-end;
}

.footer_box {
    height: 80px;
    width: 100%;
    background-color: var(--disc-footer-primary-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.space {
    font-size: 20px;
    background-color: var(--disc-footer-secondary-light);
    padding: 5px;
}

/* #endregion /Footer Bottom */
/* #endregion /Footer */